  body {
    background-color: #121212;
  }

  /* game board table */

  #board td {
    width: 50px;
    height: 50px;
    border: solid 1px #666;
  }

  #game {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
  }

  /* pieces are div within game table cells: draw as colored circles */

  .piece {
    margin: 5px;
    width: 80%;
    height: 80%;
    height: 80%;
    border-radius: 50%;
  }

  .p1 {
    background-color: #BB86FC;
  }

  .p2 {
    background-color: #00C2AE;
  }

  .finished {
    pointer-events: none;
  }

  /* column-top is table row of clickable areas for each column */

  #column-top td {
    border: dashed 1px lightgray;
  }

  #column-top td:hover {
    background-color: darkgoldenrod;
  }

  /* end of game reset button*/
  #resetBtn {
    margin: 0 auto;
    display: block;
    height: 50px
  }